.row{
	border: 10px;
background-color: White;
margin: 10px;
}
h1{
	text-align: center;
}
p{
	text-align: center;
	font-size: 20px;
}
.section{
	border-style: solid;
	border-width: 1px ;
	background-color:#afadad;
	margin-bottom: 10px
}